Tp1/WebService-Java-To-CSharp/soap-client-ws-net-main/soap-client-ws/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="conversionEuroToDH" type="tns:conversionEuroToDH" />
  <xs:element name="conversionEuroToDHResponse" type="tns:conversionEuroToDHResponse" />
  <xs:element name="getCompte" type="tns:getCompte" />
  <xs:element name="getCompteResponse" type="tns:getCompteResponse" />
  <xs:element name="getComptes" type="tns:getComptes" />
  <xs:element name="getComptesResponse" type="tns:getComptesResponse" />
  <xs:complexType name="getComptes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getComptesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:compte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compte">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="dateCreation" type="xs:dateTime" />
      <xs:element name="solde" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conversionEuroToDH">
    <xs:sequence>
      <xs:element name="montant" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conversionEuroToDHResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCompte">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCompteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:compte" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>